PORT=
URI=

IV_LENGTH=
ENCRYPTION_SECRET_KEY=

USER_ACCESS_TOKEN_SIGNATURE=
USER_REFRESH_TOKEN_SIGNATURE=

ADMIN_ACCESS_TOKEN_SIGNATURE=
ADMIN_REFRESH_TOKEN_SIGNATURE=

SMTP_PASS=
SMTP_USER=

CLIENT_ID=

TOKEN_CARRY=
